body {
    font-family: Arial, sans-serif;
    text-align: center; 
    padding: 0; 
    margin: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

h1 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #2c3e50;
}

/* Estilo del contenedor de detalles del libro */
#detalle-libro {
    width: 80%;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    text-align: left; /* Alinea el texto a la izquierda */
}

/* Estilo del título del libro */
#detalle-libro h2#titulo {
    font-size: 24px;
    margin-bottom: 10px;
    color: #555555;
}

/* Estilo de la descripción */
#detalle-libro p#descripcion {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Estilo de las notas */
#detalle-libro p#notas {
    font-size: 16px;
    color: #7f8c8d;
}

button {
    background-color: #f2f2f2; /* Color de fondo */
    color: black; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 8px 16px; /* Espaciado interno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Hace que los botones estén uno al lado del otro */
    font-size: 14px; /* Tamaño de fuente */
    margin: 4px 2px; /* Margen exterior */
    cursor: pointer; /* Cambia el cursor a una mano al pasar sobre el botón */
    transition-duration: 0.4s; /* Duración de la transición al pasar el ratón */
    width: 100px;
    height: 50px;
  }
  
button {
    background-color: #f2f2f2; /* Cambia el color de fondo al pasar el ratón */
    color: black; /* Cambia el color del texto al pasar el ratón */
  }
