body, html {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 0;
  }

  a {
    color: #000000;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
}

a:active {
    color: purple;
}

  p {
    text-align: center;
    margin-top: 15px; 
    font-size: 20px; 
    color: #000000; 
  }
  
  section {
    text-align: center;
    font-size: 24px;
  }
  
  form {
    margin-top: 20px;
    position: relative; /* Añadido */
  }
  
  form h2 {
    font-size: 30px;
    text-align: center;
  }
  
  form p {
    text-align: center;
    margin-top: 15px;
    font-size: 20px;
    color: #000000;
  }
  
  form button {
    margin: 10px auto;
    width: 300px;
    height: 50px;
    font-size: 18px;
  }

  button {
    cursor: pointer;
  }
  
  /* Estilos para los inputs de texto y botones */
  input[type="text"],
  input[type="email"],
  input[type="password"],
  button {
    display: block;
    margin: 0px auto;
    width: 300px;
    height: 50px;
    font-size: 18px;
  }
  
/* Estilos para los radio y checkbox */
input[type="radio"],
input[type="checkbox"] {
    margin: 5px -20px 5px 0; /* Ajuste aquí */
    width: 100px;
    height: 20px;
    display: inline-block;
}
  
/* Ajuste para el texto de los términos */
label[for="terminos"] {
    vertical-align: middle;
    margin-right: 10px; /* Ajuste aquí */
}
  
@media screen and (max-width: 600px) {
    section {
        margin: 10px;
    }
}


  